/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
    }

ol {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: black;
    /*height: 100%;
    width: 15%;
    overflow: auto;
    position: fixed;*/
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

}

li{
    display: inline-block;
    position: relative;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family:'Secular One', sans-serif;
    padding: 10px 15px;
}

section h2 {
    display: inline-block;
    font-size: 200%;
    color: crimson;
    text-align: left;
    text-decoration: none;
    font-family: 'Zeyada',Arial, Helvetica, sans-serif;
    float: none;
    margin:5% ;
    width: 250px;
}


/*.dropDown li {
    display: block;
}

.dropDown{
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    z-index: 1;
    display: block
}
ol li:hover .dropDown{
    display: block;
}*/

li a:hover{
    background-color: crimson;
}


.Hidden{
    display: none;
}

body {
    background-color: white;
    background-size: 100%;
    margin: 0%;
    font-family: 'Secular One', sans-serifS;
    background-image: url(/Food/foodbackground.png);
        background-repeat: no-repeat;
        background-color: black;
}

.welcomeMessage {
    padding: 50px;
    font-family: 'Secular One', sans-serifS;
    font-size: 25px;
    text-align: justify;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}

.welcomeMessage::after{
    content:"";
    display: inline-block;
    width: 100%;
}

section h1,section span{
    font-family: 'Secular One', sans-serifS;
    text-align: center;
}

.buttonList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.buttonList button{
    background-color: crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
}


.buttonList button:hover{
    background-color: black;
}

.bookList{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bookList h3{
    font-family:'Secular One', sans-serif;
    font-size: 200%;
    text-align: center;
}

.bookList h4{
    font-family:'Secular One', sans-serif;
    font-size: 150%;
    text-align: center;
}

.bookList img{
    width: 45%;
}

.foodDes{
    padding: 30px 0px 30px 30px;
}

footer h6{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    position: static;
    padding-bottom: 20px;
    height: 10%;
    width: 100%;
padding-top: 2%;
}



@media screen and (max-width: 700px){
    .Hidden{
        display:inline-block;
    }
    .Default{
        display: none;
    }
    .Hidden .Icon{
        width: 24%;
        padding: 0 10px;
    
    }
    .S{
        margin: 0 5% 0 5%;
    }
    li a img{
        width: 100%;
        margin-top: 0%;
        display: block;
        float:left
    }
    section h2{
        width: 300px;
        margin-bottom: 0%;
        margin-right: 0%;
    }


}




/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
